<form id="blog-post-form"></form>
<div class="mb-3">
  <label for="post-title" class="form-label">Blog Post Title</label>
  <input type="email" class="form-control" id="post-title" placeholder="Blog Title">
</div>
<div class="mb-3">
  <label for="post-contents" class="form-label">Enter Blog Post Contents</label>
  <textarea class="form-control" id="post-contents" rows="3"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
