<form id="signup-form">
    <div class="mb-3">
        <label for="name-input" class="form-label">Username</label>
        <input type="username" class="form-control" id="name-input" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="email-input" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-input">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="./js/signup.js"></script>